body{
    margin: 0px;
    background-color: #f3ede7;
}

#barra-superio{
    background-color: #4F8EC4;
    width: 375px;
    height: 45.49px;
}

#informacion{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
}

#img-libro{
    width: 103px;
    height: 65px;
    background-position-x: 124px;
    background-position-y: 80px;
}

#bienvenido{
    font-weight: bold;
    font-size: 33px;
    color: #4F8EC4;
}

#parrafo{
    font-size: medium;
    font-size: 16px;
    color: #06283D;
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-left: 30px;
}

.texo{
    font-weight: bolder;
    font-size: 14px;
    color: #4F8EC4;
    margin-bottom: 0px;
}

.separacion{
    padding-bottom: 10px
}

.input{
    background-color: #d9dfe3;
    width: 298px;
    height: 49px;
    border-radius: 8px;
    border: 0px;
    font-size: 17px;
}

#boton{
    display: flex;
    justify-content: center;
}

#config-boton{
    width: 298px;
    height: 48px;
    border-radius: 8px;
    border: 0px;
    background-color: #4F8EC4;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#linea{
    border: 1px #B3B3B3 solid;
    margin-top: 10px;
    margin-left: 30px;
}

#InicioSesion{
    display: none;
}

#nav-landing-page{
    background-color: #9CBFDE;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#boton-registro{
    border-radius: 45px;
    /* margin: 0px; */
    border: 0px;
    background-color: #4F8EC4;
    color: white;
    width: 102px;
    height: 25px;
}

.texto-bienvenida{
    text-align: center;
    width: 204px;
}

.img-motorista{
    width: 267px;
    height: 196px;
    text-align: center;
}
footer{
    background-color: #4F8EC4;
    width: 375px;
    height: 76px;
}

#Landing-page{
    display: block;
}

#Registro{
    background-color: #F2E5D9;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    
    }
    
    .bloque{
        /*border: 2px solid green;*/ 
      height: 7vh;
      background-color: #4F8EC4;
      width: 100%;
    }
    
    #Registro_Titulo{
        /*border: 2px solid green;*/ 
        height: 8vh;
        margin: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    h1{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        font-size: 45px;
        color: #4F8EC4;
        letter-spacing: 1px;
        ;
    
    
    }
    
    .Registro_Form{
        width: 80%;
        margin-top: -2vh;
    
    }
    
    #Registro_Subtitulo{
        /*border: 2px solid green;*/ 
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bolder;
        font-size: 22px;
        color: #4F8EC4;
        text-align: center;
        margin-top: -15px;
    }
    
    .Form_div{
        /*border: 2px solid green;*/ 
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content:end;
    }
    
    .label_Registro{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bolder;
        font-size: 18px;
        color: #4F8EC4;
        margin-bottom: -19px;
        width: 100%;
    
    
    }
    
    .input_Registro{
        width: 80%;
        background-color: #4f8dc44e;
        border-radius: 15px;
        height: 45px;
        border: none;
    }
    
    .Nombre_text{
        display: flex;
        justify-content: center;
    }
    
    #Registro_boton{
        /*border: 2px solid green;*/ 
        height: 37vh;
    }
    
    .boton{
        background-color: #4F8EC4;
        border-radius: 16px;
        height: 15%;
        margin: 60px auto 30px auto;
        border: none;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        font-size: 25px;
    
    }