body{
    margin: 0px;
    background-color: #f3ede7;
}

#InicioSesionCliente{
    height: 100vh;
    display: none;
}

#navInicioSesionClientes{
    height: 10%;
    background-color: #4F8EC4;
    align-items: center;
    display: flex;
    padding-left: 5%;
    font-size: 30px;
    font-weight: bolder;
}

#formularioInicioSesionClientes{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 15%;
    margin-top: 10%;
}

.ContenedorInputsClientes{
    padding-left: 10%;
}

.inputsInicioSesionClientes{
    background-color: #9CBFDE;
    border: 0;
    border-radius: 9px;
    padding-left: 10%;
    width: 75%;
    height: 45px;
    font-size: 22px;
    color: black;
}


#RegistroCliente{
    height: 100vh;
}

#navRegistroClientes{
    height: 10%;
    background-color: #4F8EC4;
    align-items: center;
    display: flex;
    padding-left: 5%;
    font-size: 30px;
    font-weight: bolder;
}

#formularioRegistro{
    height: 40%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    flex-wrap: wrap;
}

.inputsRegistroClientes{
    width: 80%;
    height: 45px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 20px;
    background-color: #9cbfde8c;
}

#Landing-page-clientes{
    height: 100vh;
    /* display: none; */
}

#nav-LandingPage-clientes{
    height: 10%;
    background-color: #9CBFDE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contenedor-img{
    width: 20%;
    background-color: #4F8EC4;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
}



