@font-face {
    font-family: 'Ubuntu';
    src: url('/Frontend/assets/fonts/Ubuntu-Medium.ttf') format('truetype'); /* Ajusta la ruta y el formato según corresponda */
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    background-color: #f3ede7;
    
}

/*Estilos para ver las ordenes */
#ordenes-motoristas{
    height: 100vh;
    background-color: #f3ede7;
    background-image: url(../img/background-img.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    display: none;
}

/* La etiqueta padre lleva el height vh */
#nav-motoristas-ordenes{
    /* border: 2px solid black; */
    height: 8%;
    background-color: #9CBFDE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ordenes{
    /* border: 2px red solid; */
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-orden{
    /* border: 2px green solid; */
    width: 80%;
    height: 45px;
    background-color: #9CBFDE;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px
}

#contenedor-img-ordenes{
    /* border: 2px solid palevioletred; */
    position: relative;
} 

/*Estilos para ver detalle compra*/

#vista-ordenes{
    height: 100vh;
    display: none;
}

#nav-motoristas-detalle-compra{
    /* border: 2px solid black; */
    height: 8%;
    background-color: #9CBFDE;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Contenedor-img-productos{
    /* border: 2px blueviolet solid; */
    height: 35%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D9D9D9;
}

#img-flecha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#contendor-puntitos{
    /* border: 2px solid gold; */
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    /* scroll-padding-bottom: 5px; */
    padding-bottom: 0%;
}

#flecha{
    position: absolute;
    right: 5%;
}

#detalle-compra{
    /* border: 2px solid fuchsia; */
    margin-top: 5%;
    height: 30%;
    padding-left: 0%;
    padding-top: 10%;
}

.Nombre-precio{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1.5px;
}

#total-precio{
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
}

.info-compra{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-bottom: 2%;
}

#detalle-compra,p{
    color: #4F8EC4;
}

/* Estilos para inicio sesion motorista */
#inicio-sesion-motorista{
    height: 100vh;
    /* display: none; */
}

#superior-inicio-sesion{
    /* border: 2px solid orange; */
    background-color: #9CBFDE;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-iniciosesion{
    font-size: 35px;
    color: aliceblue;
    margin: 0px;
}

#titulo-inicioSesion{
    /* border: 2px solid palegreen; */
    margin-top: 2%;
}

#formulario{
    /* border: 2px solid palevioletred; */
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 25%;
    padding-top: 3%;
}


.contenedor-inputs{
    /* width: 80%;
    height: 45px;
    background-color: #9CBFDE;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; */
    width: 90%;
}
.inputs{
    width: 90%;
    height: 55px;
    background-color: #9CBFDE;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border: 0px;
    text-align: center;
}

#contenedor-boton{
    /* border: 2px solid violet; */
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-inicio-sesion{
    border: 0;
    padding: 0;
    background-color: 4F8EC4;
    background-color: #4F8EC4;
    height: 40%;
    width: 40%;
    border-radius: 25px;
    color: aliceblue;
    font-size: 19px;
    font-weight: 700;
    margin-top: 3%;
}

/*Estilos para formulario para inico de sesion */

#homeM{
    background-color: #9cbfde;
    height: 100vh;
    display: flex;
    flex-direction: column;
    display: none;
}

#home_azul{
    background-color: #9CBFDE;
    height: 50%;
    display: flex;
    flex-direction: column;
}
#home_titulo{
    /* border: 2px solid red; */
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home_logo{
    background-color: #f2e5d9b8;
    height: 40%;
    width: 42%;
    margin: 0 auto;
    border-radius: 100% 100% 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 4px grey;
    animation-name: logoanime2;
    animation-duration: 3s;

}
#logoImg_home{
    object-fit: contain;
    width: 100%;
    height: 100%;
    animation-name: logoanime;
    animation-duration: 3.5s;

}

@keyframes logoanime {
    from{
        margin-right: 170px;
    }
    to{
        margin-right: 0;
    }    
}
@keyframes logoanime2 {
    from{
        box-shadow: none;
    }
    to{
        box-shadow: 5px 5px 4px grey;
    }    
}


#home_hueso{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 38% 32% 0px 0px;
    background-color: #f2e5d9
}

#hueso_botones{
    /* border: 2px solid green; */
    height: 40%;
    display: flex;
    flex-direction: column;
}

#botones_2{
    /* border: 2px solid blue; */
    height: 50%;
    display: flex;

}

#botones_1{
    /* border: 2px solid cadetblue; */
    height: 50%;
    display: flex;
    justify-content: center;
}

#botonhome1{
    /* border: 2px solid brown; */
    width: 50%;
    display: flex;
    justify-content: center;
}

#botonhome2{
    /* border: 2px solid brown; */
    width: 50%;
    display: flex;
    justify-content: center;
}

.homeBotones{
    background-color: #4F8EC4;
    border: none; 
    width: 80%;
    height: 90%;
    border-radius: 60px;
}

.h2botonesHome{
    font-size: 22px;
    text-align: center;
    margin: 0;
    color: rgba(240, 248, 255, 0.972);
}

/* Estilos de registro de motorista */

#registroM{
    height: 100vh;
    background-color:#F2E5D9;
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: fixed;
}

#registroMBack{
    /* border: 2px solid blue; */
    height: 4%;
}
#registroMImg{
    /* border: 2px solid red; */
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center
}

#registroMTitulo{
    /* border: 2px solid salmon; */
    height: 6%;
    text-align: center;
}

.registroMInput{
    /* border: 2px solid orange; */
    height: 8%;
    width: 80%;
    margin-left: 10%;
}

.inputMRegistro{
    width: 100%;
    height: 75%;
    background-color: #9cbfde59;
    border: none;
    border-radius: 20px;
}

#registroMBoton{
    /* border: 2px solid green; */
    height: 18%;
    width: 40%;
    margin-left: 30%;
}

#Img_Circulo{
    /* border: 4px solid cadetblue; */
    border-radius: 270% 157% 191% 100%;
    width: 75%;
    background-color:#9cbfde;
    overflow: hidden;
}


#img_motorista{
    object-fit: cover;
    width: 140%;
    height: 100%;
    object-position: center;
    border: 0;
}

#Perfil-motorista{
    height: 100vh;
    display: none;
}

#info-motorista{
    height: 60%;
    /* border: 2px solid orange; */
}

#img-motorista{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

#info-motorista,p{
    color: black;

}

#perfilMotorista{
    display: none;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    width: 100%;
    background-color: #F2E5D9;
}

.cuadroPerfil{
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f3ede4;
    border-radius: 15px 15px 0 0;
    box-shadow: -1px 1px 20px 15px #bfbebe
}

#PerfilfotoPerfil{
    border: 2px solid #4F8EC4;
    display: inline-block;
    border-radius: 50%;
    height: 35%;
    overflow: hidden;
}
#divBotones{
    width: 260px;
    height: 7%;
}

#fotoperfilimg{
height: 100%;
width: 100%;
object-fit: contain;
}

#historialMotorista{
    display: none;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    width: 100%;
    background-color: #F2E5D9;
}

.divHistorialEntrega{
    width: 95%;
    height: 76px;
    margin-right: 0;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    

}

h4{
    font-family:'Ubuntu', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    
}