body{
    margin: 0;
    background-color: #f3ede7;
}

/*Estilos para ver las ordenes */
#ordenes-motoristas{
    height: 100vh;
    background-color: #f3ede7;
    background-image: url(../img/background-img.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    display: none;
}

/* La etiqueta padre lleva el height vh */
#nav-motoristas-ordenes{
    border: 2px solid black;
    height: 8%;
    background-color: #9CBFDE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ordenes{
    /* border: 2px red solid; */
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-orden{
    /* border: 2px green solid; */
    width: 80%;
    height: 45px;
    background-color: #9CBFDE;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px
}

#contenedor-img-ordenes{
    /* border: 2px solid palevioletred; */
    position: relative;
} 

/*Estilos para ver detalle compra*/

#vista-ordenes{
    height: 100vh;
}

#nav-motoristas-detalle-compra{
    border: 2px solid black;
    height: 8%;
    background-color: #9CBFDE;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

